	<!DOCTYPE HTML>
	<html lang="pt-br">
		<head>
			<meta charset="UTF-8">

			<title>COVID-19</title>
			
			<!-- JQuery -->
			<script src="js/jquery-2.2.1.js"></script>

			<!-- bootstrap - link cdn -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
			<!-- incluindo css -->
			<link href="css/style.css" rel="stylesheet">

			<!-- favicon -->
			<link rel="shortcut icon" href="images/favicon.ico" />
		</head>

		<body>

			<input type="checkbox" name="" id="check">
			<label id="icone" for="check"><img src="images/icone.png"> </label>
			
			<div class="barra">
				<nav>
					<a href="/"><div class="link">Home</div></a>
					<% if(login){%>
						<div class="addMenu" >
							<a href="/pacientes" style="color: #e9f4f9;">Pacientes </a>
							<a href="/addPaciente" style="float: right;margin-top: -3px;"><img src="images/mais.png" style="width: 30px;"> </a> 
						</div>
	
					<%}%>
					<div class="addMenu" >
						<a href="/locais" style="color: #e9f4f9;">Locais </a>
						<% if(login){%>
						<a href="/addlocal" style="float: right;margin-top: -3px;"><img src="images/mais.png" style="width: 30px;"> </a> 
						<%}%>
					</div>
					<% if(login){%>
						<a href="/logout"><div class="link">Sair</div></a>
					<%}else{%>
						<a href="/admin"><div class="link">Login</div></a>
					<%}%>
	
				</nav>
		
			</div>
			<div class="logo" style="margin-bottom: 20px;">
				<img src="images/mascara.png" style="margin-top: 2px;height: 72px;	margin-bottom: 2px;margin-left: 50%;margin-left: 38vw;"/>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="noticia_wrapper">
							<a class="noticia_titulo"><%=paciente[0].NomePaciente%></a>
							<span class="noticia_autor">CPF: <%= paciente[0].CPFPaciente %></span>		    					
							<span class="noticia_data"> RG: <%= paciente[0].RGPaciente %></span>
							<span class="noticia_data"> Idade: <%= paciente[0].IdadePaciente %></span>
							<span class="noticia_data"> Hospital: <% for(i=0;i<selects.length; i++ ){%> <%if(paciente[0].HospitalID == selects[i].IDlocal ){%> <%=selects[i].NomeLocal%> <%}%> <%}%></span>
							<span class="noticia_data"> Status: <b><%= paciente[0].StatusPaciente %></b></span>
							<span class="noticia_data"> Telefone: <%= paciente[0].TelefonePaciente %></span>
							<span class="noticia_data"> Endereço: <%= paciente[0].EnderecoPaciente %></span>
							<span class="noticia_data"> Bairro: <%= paciente[0].BairroPaciente%></span>
							<span class="noticia_data"> Cidade: <%= paciente[0].CidadePaciente%></span>
							<span class="noticia_data"> Estado: <%= paciente[0].EstadoPaciente%></span>
							<span class="noticia_data"> Pais: <%= paciente[0].PaisPaciente%></span>

							<p class="noticia_resumo"></p>
							<% if(login){%>
								<a href="editPaciente?IDPaciente=<%=paciente[0].IDPaciente%>" style="margin-right: 5px;"class="btn btn-default btn-edit">Editar Paciente</a>
								<a href="deletePaciente?IDPaciente=<%=paciente[0].IDPaciente%>" class="btn btn-default btn-delet">Deletar Paciente</a>
							<% }%>
						</div>
					</div>
				</div>
			</div>
		
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		</body>
	</html>