<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>COVID-19</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="../../public/images/favicon.ico" />
	</head>

	<body>

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img src="images/logo.png" style="margin-top:2px;"/>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">HOME</a></li>
					</ul>
				</div>
			</div>
		</nav>


	    <div class="container">
		
			<% if(validacao.length > 0){ %>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger">
							<strong>Atenção!</strong>
							<ul>
								<% for(var i = 0; i < validacao.length; i++){ %>
									<li><%= validacao[i].msg %></li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
			<% } %>

	    	<div class="row">
	    		<div class="col-md-12" >
					<form action="/Locais/salvar" method="POST">
						<input type="hidden" id="IDLocal" name="IDLocal" value="<%=local.IDLocal%>">
						<h1 style="text-align: center; margin-left: 9vw;margin-bottom: 25px;"><%if(local.IDLocal){%> EDITAR LOCAL <%}else{%> ADICIONAR LOCAL<%}%></h1>
						<div class="form-group">
							<label for="titulo">Nome:</label>
							<input type="text" class="form-control" id="NomeLocal" name="NomeLocal" value="<%=local.NomeLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Numero de leitos:</label>
							<input type="number" class="form-control" id="NumeroLeitos" name="NumeroLeitos" value="<%=local.NumeroLeitos%>" maxlength="4" min="0" max="999">
						</div>
						
						<div class="form-group">
							<label for="pwd">Nº Leitos disponíveis:</label>
							<input type="number" class="form-control" id="NumeroLeitosDisponiveis" name="NumeroLeitosDisponiveis" value="<%=local.NumeroLeitosDisponiveis%>" maxlength="4" min="0" max="999">
						</div>

						<div class="form-group">
							<label for="pwd">Telefone:</label>
							<input type="text" class="form-control" id="TelefoneLocal" name="TelefoneLocal" onkeyup="mascaraTelefone()" value="<%=local.TelefoneLocal%>" maxlength="15">
						</div>

						<div class="form-group">
							<label for="pwd">Telefone (opcional):</label>
							<input type="text" class="form-control" id="TelefoneLocalOp" name="TelefoneLocalOp" onkeyup="mascaraTelefoneOp()" value="<%=local.mascaraTelefoneOp%>" maxlength="15">
						</div>

						<div class="form-group">
							<label for="pwd">E-mail:</label>
							<input type="text" class="form-control" id="EmailLocal" name="EmailLocal" value="<%=local.EmailLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Endereço:</label>
							<input type="text" class="form-control" id="EnderecoLocal" name="EnderecoLocal" value="<%=local.EnderecoLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Numero:</label>
							<input type="text" class="form-control" id="NumeroLocal" name="NumeroLocal" value="<%=local.NumeroLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">cep:</label>
							<input type="text" class="form-control" id="CepLocal" name="CepLocal" value="<%=local.CepLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Bairro:</label>
							<input type="text" class="form-control" id="BairroLocal" name="BairroLocal" value="<%=local.BairroLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Cidade:</label>
							<input type="text" class="form-control" id="CidadeLocal" name="CidadeLocal" value="<%=local.CidadeLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Estado:</label>
							<input type="text" class="form-control" id="EstadoLocal" name="EstadoLocal" maxlength="2" placeholder="Ex: RS, SP, SC" value="<%=local.EstadoLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Pais:</label>
							<input type="text" class="form-control" id="PaisLocal" name="PaisLocal" maxlength="2" placeholder="Ex: BR, US, CH" value="<%=local.PaisLocal%>">
						</div>


						<button type="submit" class="btn btn-default btn-add">Cadastrar</button>
						</form>
		    	</div>
	    	</div>
	    </div>
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script type="text/javascript">
			function mascaraTelefone(){
				//onkeyup="mascaraTelefone()"
			
				var telefone = document.getElementById('TelefoneLocal')
				if(telefone.value.length == 2 ){
					telefone.value = "(" + telefone.value + ") "
				}
				if(telefone.value.length == 9 ){
					telefone.value = telefone.value + "-"
				}
				
			}
			function mascaraTelefoneOp(){
				//onkeyup="mascaraTelefone()"
			
				var telefone = document.getElementById('TelefoneLocalOp')
				if(telefone.value.length == 2 ){
					telefone.value = "(" + telefone.value + ") "
				}
				if(telefone.value.length == 9 ){
					telefone.value = telefone.value + "-"
				}
				
			}

			
			</script>
	
	</body>
</html>