<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>COVID-19</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>

	<body>

		<nav class="navbar navbar-default navbar-static-top" id=top>
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img src="images/logo.png" style="margin-top:2px;"/>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">HOME</a></li>
					</ul>
				</div>
			</div>
		</nav>


	    <div class="container">
		
				<div class="row" id="rowErros" style="display: none;">
					<div class="col-md-12">
						<div class="alert alert-danger">
							<strong>Atenção!</strong>
							<ul id="erros">
							
							</ul>
						</div>
					</div>
				</div>

	    	<div class="row">
	    		<div class="col-md-12">
					<form action="/Pacientes/editar" method="POST" id="formEdit">
						<input type="hidden" id="IDPaciente" name="IDPaciente" value="<%=paciente[0].IDPaciente%>">

						<div class="form-group">
							<label for="titulo">Nome:</label>
							<input type="text" class="form-control" id="NomePaciente" name="NomePaciente" value="<%=paciente[0].NomePaciente%>">
						</div>

						<div class="form-group">
							<label for="pwd">Status:</label>
							<input type="text" class="form-control" id="StatusPaciente" name="StatusPaciente" value="<%=paciente[0].StatusPaciente%>">
						</div>
						
						<div class="form-group">
							<label for="pwd">CPF:</label>
							<input type="text" class="form-control" id="CPFPaciente" name="CPFPaciente" value="<%=paciente[0].CPFPaciente%>">
						</div>

						<div class="form-group">
							<label for="pwd">RG:</label>
							<input type="text" class="form-control" id="RGPaciente" name="RGPaciente"  value="<%=paciente[0].RGPaciente%>">
						</div>

						<div class="form-group">
							<label for="pwd">Telefone:</label>
							<input type="text" class="form-control" id="TelefonePaciente" name="TelefonePaciente" onkeyup="mascaraTelefone()" value="<%=paciente[0].TelefonePaciente%>" >
						</div>

						<div class="form-group">
							<label for="pwd">Endereço:</label>
							<input type="text" class="form-control" id="EnderecoPaciente" name="EnderecoPaciente" value="<%=paciente[0].EnderecoPaciente%>">
						</div>

						<div class="form-group">
							<label for="pwd">Bairro:</label>
							<input type="text" class="form-control" id="BairroPaciente" name="BairroPaciente" value="<%=paciente[0].BairroPaciente%>">
						</div>

						<div class="form-group">
							<label for="pwd">Cidade:</label>
							<input type="text" class="form-control" id="CidadePaciente" name="CidadePaciente" value="<%=paciente[0].CidadePaciente%>">
						</div>

						<div class="form-group">
							<label for="pwd">Estado:</label>
							<input type="text" class="form-control" id="EstadoPaciente" name="EstadoPaciente" value="<%=paciente[0].EstadoPaciente%>">
						</div>

						<div class="form-group">
							<label for="pwd">Pais:</label>
							<input type="text" class="form-control" id="PaisPaciente" name="PaisPaciente" value="<%=paciente[0].PaisPaciente%>">
						</div>

						<button type="submit" class="btn btn-default">Editar</button>

						<a href="#top" id="sobe" style="display: none;">sobe</a>
					</form>
		    	</div>
	    	</div>
	    </div>
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script>
			const form = document.getElementById('formEdit')
	
			form.addEventListener('submit', (e) =>{
				e.preventDefault();

				var IDPaciente = document.getElementById('IDPaciente').value
				var NomePaciente = document.getElementById('NomePaciente').value
				var StatusPaciente = document.getElementById('StatusPaciente').value
				var CPFPaciente = document.getElementById('CPFPaciente').value
				var RGPaciente = document.getElementById('RGPaciente').value
				var TelefonePaciente = document.getElementById('TelefonePaciente').value
				var EnderecoPaciente = document.getElementById('EnderecoPaciente').value
				var BairroPaciente = document.getElementById('BairroPaciente').value
				var CidadePaciente = document.getElementById('CidadePaciente').value
				var EstadoPaciente = document.getElementById('EstadoPaciente').value
				var PaisPaciente = document.getElementById('PaisPaciente').value

				var erros = ""

				if (!IDPaciente){ erros = erros + '<li>ID Inválido</li>' }
    			if (!NomePaciente){ erros = erros + '<li>NOME Inválido</li>'}
    			if (!StatusPaciente){ erros = erros + '<li>STATUS Inválido</li>'}
    			if (!CPFPaciente){ erros = erros + '<li>CPF Inválido</li>'}
    			if (TelefonePaciente.length < 14 && TelefonePaciente.length > 15 ){ erros = erros + '<li>TELEFONE Inválido</li>'}
    			if (!RGPaciente){ erros = erros + '<li>RG Inválido</li>'}
    			if (!EnderecoPaciente){ erros = erros + '<li>ENDEREÇO Inválido</li>'}
    			if (!BairroPaciente){ erros = erros + '<li>BAIRRO Inválido</li>'}
    			if (!CidadePaciente){ erros = erros + '<li>CIDADE Inválido</li>'}
    			if (EstadoPaciente.length < 1 && EstadoPaciente.length > 2 ){ erros = erros + '<li>ESTADO Inválido</li>'}
				if (PaisPaciente.length < 1 && PaisPaciente.length > 2 ){ erros = erros + '<li>PAIS Inválido</li>'}
				
				if(!erros){
					form.submit();
				}else{
					document.getElementById('rowErros').style.display='';
					document.getElementById('erros').innerHTML=erros;
					document.getElementById('sobe').click();
				}
			});
		</script>
		
				
		<script type="text/javascript">
			function mascaraTelefone(){
				//onkeyup="mascaraTelefone()"
			
				var telefone = document.getElementById('TelefoneLocal')
				if(telefone.value.length == 2 ){
					telefone.value = "(" + telefone.value + ") "
				}
				if(telefone.value.length == 9 ){
					telefone.value = telefone.value + "-"
				}
				
			}
			
		</script>
	
	</body>
</html>