<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>COVID-19</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>

	<body>

		<nav class="navbar navbar-default navbar-static-top" id=top>
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img src="images/logo.png" style="margin-top:2px;"/>
					editar
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">HOME</a></li>
					</ul>
				</div>
			</div>
		</nav>


	    <div class="container">
		
				<div class="row" id="rowErros" style="display: none;">
					<div class="col-md-12">
						<div class="alert alert-danger">
							<strong>Atenção!</strong>
							<ul id="erros">
							
							</ul>
						</div>
					</div>
				</div>

	    	<div class="row">
	    		<div class="col-md-12">
					<form action="/Locais/editar" method="POST" id="formEdit">
						<input type="hidden" id="IDLocal" name="IDLocal" value="<%=local[0].IDLocal%>">
						<div class="form-group">
							<label for="titulo">Nome:</label>
							<input type="text" class="form-control" id="NomeLocal" name="NomeLocal" value="<%=local[0].NomeLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Numero de leitos:</label>
							<input type="text" class="form-control" id="NumeroLeitos" name="NumeroLeitos" value="<%=local[0].NumeroLeitos%>">
						</div>
						
						<div class="form-group">
							<label for="pwd">Nº Leitos disponíveis:</label>
							<input type="text" class="form-control" id="NumeroLeitosDisponiveis" name="NumeroLeitosDisponiveis" value="<%=local[0].NumeroLeitosDisponiveis%>">
						</div>

						<div class="form-group">
							<label for="pwd">Telefone:</label>
							<input type="text" class="form-control" id="TelefoneLocal" name="TelefoneLocal" onkeyup="mascaraTelefone()" value="<%=local[0].TelefoneLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Telefone (opcional):</label>
							<input type="text" class="form-control" id="TelefoneLocalOp" name="TelefoneLocalOp" onkeyup="mascaraTelefoneOp()" value="<%=local[0].TelefoneLocalOp%>">
						</div>

						<div class="form-group">
							<label for="pwd">E-mail:</label>
							<input type="text" class="form-control" id="EmailLocal" name="EmailLocal" value="<%=local[0].EmailLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Endereço:</label>
							<input type="text" class="form-control" id="EnderecoLocal" name="EnderecoLocal" value="<%=local[0].EnderecoLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Numero:</label>
							<input type="text" class="form-control" id="NumeroLocal" name="NumeroLocal"  value="<%=local[0].NumeroLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">cep:</label>
							<input type="text" class="form-control" id="CepLocal" name="CepLocal" value="<%=local[0].CepLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Bairro:</label>
							<input type="text" class="form-control" id="BairroLocal" name="BairroLocal" value="<%=local[0].BairroLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Cidade:</label>
							<input type="text" class="form-control" id="CidadeLocal" name="CidadeLocal" value="<%=local[0].CidadeLocal%>">
						</div>

						<div class="form-group">
							<label for="pwd">Estado:</label>
							<input type="text" class="form-control" id="EstadoLocal" name="EstadoLocal" value="<%=local[0].EstadoLocal%>" maxlength="2" placeholder="Ex: RS, SP, SC">
						</div>

						<div class="form-group">
							<label for="pwd">Pais:</label>
							<input type="text" class="form-control" id="PaisLocal" name="PaisLocal" value="<%=local[0].PaisLocal%>" maxlength="2" placeholder="Ex: BR, US, CH">
						</div>


						<button type="submit" class="btn btn-default">Cadastrar</button>

						<a href="#top" id="sobe" style="display: none;">sobe</a>
					</form>
		    	</div>
	    	</div>
	    </div>
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script>
			const form = document.getElementById('formEdit')
	
			form.addEventListener('submit', (e) =>{
				e.preventDefault();

				var IDLocal = document.getElementById('IDLocal').value
				var NomeLocal = document.getElementById('NomeLocal').value
				var NumeroLeitos = parseInt(document.getElementById('NumeroLeitos').value)
				var NumeroLeitosDisponiveis = parseInt(document.getElementById('NumeroLeitosDisponiveis').value)
				var TelefoneLocal = document.getElementById('TelefoneLocal').value
				var EmailLocal = document.getElementById('EmailLocal').value
				var EnderecoLocal = document.getElementById('EnderecoLocal').value
				var NumeroLocal = document.getElementById('NumeroLocal').value
				var BairroLocal = document.getElementById('BairroLocal').value
				var CidadeLocal = document.getElementById('CidadeLocal').value
				var EstadoLocal = document.getElementById('EstadoLocal').value
				var PaisLocal = document.getElementById('PaisLocal').value

				var erros = ""

				if (!IDLocal){ erros = erros + '<li>ID Inválido</li>' }
    			if (!NomeLocal){ erros = erros + '<li>NOME Inválido</li>'}
    			if (!NumeroLeitos){ erros = erros + '<li>NÚMERO DE LEITOS Inválido</li>'}
    			//if (!Number.isInteger(!NumeroLeitos)){ erros = erros + '<li>NÚMERO DE LEITOS DEVEM SER INTEIROS</li>'}
    			if (!NumeroLeitosDisponiveis){ erros = erros + '<li>NÚMERO DE LEITOS DISPONÍVEIS Inválido</li>'}
    			//if (!Number.isInteger(!NumeroLeitosDisponiveis)){ erros = erros + '<li>NÚMERO DE LEITOS DISPONÍVEIS DEVEM SER INTEIROS</li>'}
    			if (TelefoneLocal.length < 14 && TelefoneLocal.length > 15 ){ erros = erros + '<li>TELEFONE Inválido</li>'}
    			if (!EmailLocal){ erros = erros + '<li>E-MAIL Inválido</li>'}
    			if (!EnderecoLocal){ erros = erros + '<li>ENDEREÇO Inválido</li>'}
    			if (!NumeroLocal){ erros = erros + '<li>NÚMERO Inválido</li>'}
    			if (!BairroLocal){ erros = erros + '<li>BAIRRO Inválido</li>'}
    			if (!CidadeLocal){ erros = erros + '<li>CIDADE Inválido</li>'}
    			if (EstadoLocal.length < 1 && EstadoLocal.length > 2 ){ erros = erros + '<li>ESTADO Inválido</li>'}
				if (PaisLocal.length < 1 && PaisLocal.length > 2 ){ erros = erros + '<li>PAIS Inválido</li>'}
				
				if(!erros){
					form.submit();
				}else{
					document.getElementById('rowErros').style.display='';
					document.getElementById('erros').innerHTML=erros;
					document.getElementById('sobe').click();
				}
			});
		</script>
		
				
		<script type="text/javascript">
			function mascaraTelefone(){
				//onkeyup="mascaraTelefone()"
			
				var telefone = document.getElementById('TelefoneLocal')
				if(telefone.value.length == 2 ){
					telefone.value = "(" + telefone.value + ") "
				}
				if(telefone.value.length == 9 ){
					telefone.value = telefone.value + "-"
				}
				
			}
			function mascaraTelefoneOp(){
				//onkeyup="mascaraTelefone()"
			
				var telefone = document.getElementById('TelefoneLocalOp')
				if(telefone.value.length == 2 ){
					telefone.value = "(" + telefone.value + ") "
				}
				if(telefone.value.length == 9 ){
					telefone.value = telefone.value + "-"
				}
				
			}
			
		</script>

	
	</body>
</html>