<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>COVID-19</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>

	<body>

		<input type="checkbox" name="" id="check">
		<label id="icone" for="check"><img src="images/icone.png"> </label>
		
		<div class="barra">
			<nav>
				<a href="/"><div class="link">Home</div></a>
				<% if(login){%>
					<div class="addMenu" >
						<a href="/pacientes" style="color: #e9f4f9;">Pacientes </a>
						<a href="/addPaciente" style="float: right;margin-top: -3px;"><img src="images/mais.png" style="width: 30px;"> </a> 
					</div>

				<%}%>
				<div class="addMenu" >
					<a href="/locais" style="color: #e9f4f9;">Locais </a>
					<% if(login){%>
					<a href="/addlocal" style="float: right;margin-top: -3px;"><img src="images/mais.png" style="width: 30px;"> </a> 
					<%}%>
				</div>
				<% if(login){%>
					<a href="/logout"><div class="link">Sair</div></a>
				<%}else{%>
					<a href="/admin"><div class="link">Login</div></a>
				<%}%>

			</nav>
	
		</div>
		<div class="logo">
			<img src="images/mascara.png" style="margin-top: 2px;height: 72px;	margin-bottom: 2px;margin-left: 50%;margin-left: 38vw;"/>
		</div>
		<h1 style="text-align: center;">Central do covid-19</h1>
		
		<div class="status">
			
			<p class="statusP" >
				<img src="images/virus.png" style="width: 50px;margin-top: 15px;"/>
				<br>
				Confirmados 
				<br>
				<b><%=pacientes.length%></b>
			</p>

			<P class="statusP" >
				<img src="images/casa.png" style="width: 50px;margin-top: 15px;"/>
				<br>
				Domiciliar
				<%
					var statusDocmicilar = []
					for(i=0;i<pacientes.length; i++){
						if(pacientes[i].StatusPaciente == 'DOMICILIAR'){
							statusDocmicilar.push(pacientes[i].IDPaciente)
						}
					}			
				%>
				<br>
				<b><%=statusDocmicilar.length%></b>
			
			</P>
			<P class="statusP" >
				<img src="images/estetoscopio.png" style="width: 50px;margin-top: 15px;"/>
				<br>
				Hospitalziado
				<%
					var statusHospitalizado = []
					for(i=0;i<pacientes.length; i++){
						if(pacientes[i].StatusPaciente == 'HOSPITALIZADO'){
							statusHospitalizado.push(pacientes[i].IDPaciente)
						}
					}			
				%>
				<br>
				<b><%=statusHospitalizado.length%></b>
			</P>
			<P class="statusP" >
				<img src="images/uti.png" style="width: 50px;margin-top: 15px;"/>
				<br>
				UTI
				<%
					var statusuti = []
					for(i=0;i<pacientes.length; i++){
						if(pacientes[i].StatusPaciente == 'UTI'){
							statusuti.push(pacientes[i].IDPaciente)
						}
					}			
				%>
				<br>
				<b><%=statusuti.length%></b>				
			</P>
			<P class="statusP" >
				<img src="images/recuperado.png" style="width: 50px;margin-top: 15px;"/>
				<br>
				Recuperados
				<%
					var statusrecuperado = []
					for(i=0;i<pacientes.length; i++){
						if(pacientes[i].StatusPaciente == 'RECUPERADO'){
							statusrecuperado.push(pacientes[i].IDPaciente)
						}
					}			
				%>
				<br>
				<b><%=statusrecuperado.length%></b>						
			</P>
			<P class="statusP" >
				<img src="images/morte.png" style="width: 50px;margin-top: 15px;"/>
				<br>
				Mortos 
				<%
					var statusmorto = []
					for(i=0;i<pacientes.length; i++){
						if(pacientes[i].StatusPaciente == 'MORTO'){
							statusmorto.push(pacientes[i].IDPaciente)
						}
					}			
				%>
				<br>
				<b><%=statusmorto.length%></b>					
			</P>
		</div>

		<div id=statistica class=statistica>	
			
			<div class="statisticaP">
				<h2    style="margin-left: 244px;" > Bairros</h2>
				<%
				var bairros = []
				for(var i=0;i<pacientes.length;i++){
					bairros.push(pacientes[i].BairroPaciente)
				}	

				function onlyUnique(value, index, self) { 
					return self.indexOf(value) == index;
				}
				
				var bairros = bairros.filter( onlyUnique ); 
				
				for(var i=0; i<bairros.length; i++){
				%>
					<p style="    margin-left: 150px;">
						<img src="images/localizacao.png" style="width: 30px;margin-top: 15px;margin-left: 10px;"/>
						<bairro style="margin-top: 10px;"><b><%=bairros[i]%></b>
										
					
				<%	
					var NumeroPorBairros = []
					for(j=0;j<pacientes.length;j++){
						if(bairros[i] == pacientes[j].BairroPaciente){
							NumeroPorBairros.push(pacientes[i].IDPaciente)
						}
					}					
					%> 
					<br>Casos : <%=NumeroPorBairros.length%> 
					
				</bairro>
					</p> <%

				}
				
				%>	


			</div>
			<div class="statisticaP">
			<h2> Hospitais</h2>
			<% for(i=0;i<locais.length; i++){%>	
				<p style="margin-left: -88px;">
					<img src="images/hospital.png" style="width: 30px;margin-top: 15px;margin-left: 10px;"/>
					<hospital style="margin-top: 10px;"><b><%=locais[i].NomeLocal%></b>
				
					<%	
					var NumeroPorHospitais = []
					for(j=0;j<pacientes.length;j++){
						if(locais[i].IDLocal == pacientes[j].HospitalID){
							NumeroPorHospitais.push(pacientes[j].IDPaciente)
						}
					}					
					%> 
					<br>Casos : <%=NumeroPorHospitais.length%> 
				
				</hospital>
				</p> <%

				}
				
				%>
			</div>
		</div>	
			<footer>

			</footer>	
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>